*{
margin: 0%;
padding: 0%;
}
a{
    color: #fff;
    text-decoration: none;   
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system,Arial, Helvetica, sans-serif;
    background-color: #13161b;
    height: 8vh;
}
.navlist{
    list-style: none;
    display: flex;
    font-size: 10px ;
}
.navlist li{
letter-spacing: 3px;
margin-left: 0;
opacity: 0;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
  width: 32px;  
  height: 2px;
  background: #fff;
  margin: 8px;
}
@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .navlist{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        display: flex;
        height: 92vh;
        background: #13161b;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }
    .navlist li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .navlist.active{
        transform: translateX(0);

    }
@keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
} 

}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color:#1b2027;
}
.area-cadastro{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.cadastro{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13161b;
    width: 355px;
    height: 320px;
    padding: 35px;
}
.cadastro form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cadastro input{
    margin-top: 10px;
    background-color: #1b2027;
    color: rgba(204, 204, 204, 0.842);
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;

}
.cadastro img{
    width: 100px;
    height: auto;
}
input::placeholder{
color: rgba(204, 204, 204, 0.842);
font-size: 14px;
}
form [type="submit"]{
display: block;
background-color: #5568fe;
font-size: 20px;
text-transform: uppercase;
font-weight: bolder;
cursor: pointer;
}
p{
    color: rgba(204, 204, 204, 0.842);   
}
a{
color: #5568fe;
text-decoration: none;
margin-left: 5px;
}
