.main {
    background-image: url(img/bg.jpg);
    color: antiquewhite;
    padding-right: 20px;
    padding-bottom: 20px;
}

img.navbar-brand {

    width: 10%;
    height: 10%;
    margin: 10px;
}

form {
    margin-top: 10px;
    margin-left: auto;
}

.lancam {
    margin-bottom: 20px;
    text-align: center;

}

.iframe {
    float: left;
    width: 560px;
    height: 315px;


}

.tex1 {
    float: right;
    text-align: justify;
    padding: 1%;

}

.text2 {
    text-align: left;
    float: right;

}

.destaque {
    margin-top: 20px;
    margin-bottom: 20px;
}

.avaliacoe {
    margin: 20px;
}

.entrevista {
    margin-top: 20px;
    margin-bottom: 20px;
}

.novidade {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    border-radius: 90px;
}

.sobre {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_area {
    margin-top: 10px;
    text-align: center;
}

.footer {
    padding: 20px;
    background: rgb(0, 0, 0);
    color: aliceblue;
}

.nav-link {
    color: aliceblue !important;
    margin: auto;
}

.carrossel {
    background: rgb(15, 15, 22);

}


.card-header {
    color: black;
    text-align: center;
}

.card-body {
    background-color: rgb(12, 12, 12);
    text-align: justify;
}


.estrela {
    color: yellow;
}

.entrevista {
    margin-top: 20px;
    margin-bottom: 20px;
}

.novidade {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    border-radius: 90px;
}

.sobre {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_area {
    margin-top: 10px;
    text-align: center;
}

.footer {
    padding: 20px;
    background: rgb(0, 0, 0);
    color: aliceblue;
}
@media screen and (min-width: 1000px) and (max-width:1200px){
    #slide{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .iframe{
        grid-column: 1/6;
    }
    .tex1{
        display: grid;
        grid-template-columns: 7/12;
        grid-row:;
    }
}