@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(img/bg-site.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Cabeçalho*/
nav {
    background: #1A1919;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;

}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: none;
}

nav .nav-items li a:hover {
    color: #4C11EA;
}

.btn-login,
.btn-search {
    padding: 5px 10px;
    color: #f9f9f9;
    background-color: #4C11EA;
    border: 1px solid #434247;
    border-radius: 30px;
    margin-left: 1%;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
}

nav form {
    display: flex;
    height: 38px;
    padding: 5px;
    background: #1e232b;
    min-width: 15% !important;
    border-radius: 10px;
    border: 1px solid rgba(155, 155, 155, 0.2);

}

.form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
}

nav form .search-data {
    width: 90%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background: none;
}

nav form button {
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    background: #4C11EA;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

nav form button:hover {
    background: #240677;
}


nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
}

nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
}

nav form:after {
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav .cancel-icon.show {
    display: block;
}

nav .login-icon,
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 20px;
    color: #4C11EA;
    cursor: pointer;
    display: none;
}

nav .btn-search.hide,
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 20px;
    }

}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    .btn-login,
    .btn-search {
        display: none;
    }


    nav .menu-icon {
        display: block;
    }

    nav .login-icon,
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }
}

nav .logo.space {
    color: #4C11EA;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}

/*Carosseul*/

main {
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(43, 42, 42, 0.5);
    padding: 4vh;

}

.slide .active {
    background-color: #4C11EA !important;
}

/*Seção por dia da semana*/

::selection {
    color: #fff;
    background: #4C11EA;
}

.wrapper {
    max-width: 1100px;
}

.wrapper nav {
    display: flex;
    justify-content: center;
}

.wrapper .items {
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.seletor {
    display: none;
    border-color: #4C11EA;
}

.items span {
    padding: 7px 25px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #140152;
    text-shadow: -1px -2px 6px rgba(217, 217, 217, 0.4), 0px 2px 5px rgba(217, 217, 217, 0.4);
    border-radius: 10px;
    border: 1px solid #434247;
    transition: all 0.3s ease;
}

.items span.active,
.items span:hover {
    color: #fff;
    background: #4C11EA;
    text-shadow: -1px -2px 6px rgba(20, 1, 82, 0.9), 0px 2px 5px rgba(20, 1, 82, 0.9);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.gallery .image {
    width: calc(100% / 5);
    padding: 7px;
}

.gallery .image a {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.gallery .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .image:hover img {
    transform: scale(1.1);
}

.gallery .image.hide {
    display: none;
}

.gallery .image.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1140px) {
    .items span {
        display: none;
    }

    .seletor {
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    .gallery .image {
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .gallery .image {
        width: calc(100% / 2);
    }
}

@media (max-width: 700px) {
    .wrapper nav .items {
        max-width: 600px;
    }

    nav .items span {
        padding: 7px 15px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        margin: 30px auto;
    }

    .wrapper nav .items {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .items span {
        margin: 5px;
    }

    .gallery .image {
        width: 100%;
    }
}

/* Rodapé*/

.footer {
    padding: 50px 0;
    background-color: #1A1919;
    color: #dadada;
}

.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    color: #4C11EA;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .icons-social {
    text-align: right;
    font-size: 28px;



}

.icons-social .facebook {
    color: #3b64a5;
}

.icons-social .twitter {
    color: #00acee;
}

.icons-social .youtube {
    color: #c4302b;
    margin-right: 5px;
}

.icons-social .instagram {

    color: #d1008b
}




@media (max-width:767px) {
    .footer .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer .item.social {
        text-align: center;
    }
}

.footer .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #1A1919;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer .item.social>a {
        margin-top: 10px;
    }
}

.footer .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}